{% extends "basics/base.html" %}

{% block content %}

{{ form|safe }}

<table class="statistics" align="center">
    <tr>
        <th class="table_title" colspan="2">Statistik</th>
    </tr>
    <tr>
        <td>Anzahl an Statements</td>
        <td class="number">{{ number_of_statements }}</td>
    </tr>
    <tr>
        <td>Anzahl an Aussageblöcken</td>
        <td class="number">{{ number_of_statement_blocks }}</td>
    </tr>
    <tr>
        <td>Aktiver Zeitraum</td>
        <td class="number">{{ first_date }} - {{ last_date }}</td>
    </tr>
    <tr>
        <td>Aktive Sitzungen</td>
        <td class="number">{{ number_of_active_dates }}</td>
    </tr>
</table>

<table align="center">
    <tr>
        <th class="table_title" colspan="2">Amtsinhaber</th>
    </tr>
    {% for speaker in l_speakers %}

        <tr>
            <td><a href="{{ speaker.link_decorator }}">{{ speaker.name }}</a></td>
        </tr>
    {% endfor %}
</table>

<div class="collapse_button"></div>


{% for part_of_speech, l_word_freq in l_l_part_of_speech_freqs %}

    <table class="inline">
        <tr>
            <th colspan="3">{{ part_of_speech }} Häufigkeiten</th>
        </tr>

        {% for rel_freq, abs_freq, word, further_search_link in l_word_freq %}
            {% if forloop.counter0 < 3 %}
            <tr>
                <td>{{ word }}</td>
                <td class="number">{{ rel_freq }}</td>
                <td class="number">{{ abs_freq }}</td>
            </tr>
            {% else %}
            <tr class="hideable">
                <td>{{ word|safe }}</td>
                <td class="number">{{ rel_freq }}</td>
                <td class="number">{{ abs_freq }}</td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endfor %}

<ul class="a">
{% for speaker, l_stmt_blocks in l_speakers_block_nos_stmts %}
        <h3><a href="{{ speaker.link_decorator }}">{{ speaker.name }}</a></h3>

        <ul class="b">

            {% for stmt_block in l_stmt_blocks %}
                <h3 class="stmt_block_title"><a href="{{ stmt_block.0.document.url }}">{{ stmt_block.0.document }}</a></h3>
                {% for stmt in stmt_block %}
                    <li>S.{{ stmt.page }}: {{ stmt.text | safe}}</li><br>
                {% endfor %}
            {% endfor %}

        </ul>
{% endfor %}
</ul>

{% endblock %}