{% extends "basics/base.html" %}

{% block content %}

{{ form|safe }}

<h3>Statistik gefiltert duch das Suchwort: {{ search_word }}</h3>
<ul>
    <li>Statements Anzahl: {{ number_of_statements }}</li>
    <li>Hat zu dem Thema gesprochen im Zeitraum von {{ first_date }} - {{ last_date }} in {{ number_of_active_dates }} Sitzungen</li>
</ul>

{% regroup statements by document as stmts_list %}

<ul class="a">
{% for stmts in stmts_list %}
    <h3>{{ stmts.grouper.date }} - <a href="{{ stmts.grouper.url }}">Dokument-Id:{{stmts.grouper.document_id}}</a></h3>
    <ul class="b">
        {% for stmt in stmts.list %}
          <li><strong>S.{{ stmt.page }}:</strong> {{ stmt.text }}</li><br>
        {% endfor %}
    </ul>
    {% endfor %}
</ul>

{% endblock %}