{% extends "basics/base.html" %}

{% block content %}

{{ form|safe }}

<h3>Statistik gefiltert duch das Suchwort: {{ search_word }}</h3>
<ul>
    <li>Statements Anzahl: {{ no_of_stmts_filtered }} von {{ no_of_stmts }}</li>
    <li>Hat zu dem Thema gesprochen im Zeitraum von {{ first_date }} - {{ last_date }} in {{ number_of_active_dates }} Sitzungen</li>
</ul>

<div class="collapse_button"></div>

<table class="inline">
    <tr>
        <th>Suchtrefferwort</th>
        <th>Anzahl</th>
        <th>%</th>
    </tr>

    {% for count, rel_count, word in l_counts_words %}
        {% if forloop.counter0 < 3 %}
        <tr>
            <td>{{ word }}</td>
            <td class="number">{{ count }}</td>
            <td class="number">{{ rel_count }}</td>
        </tr>
        {% else %}
        <tr class="hideable">
            <td>{{ word }}</td>
            <td class="number">{{ count }}</td>
            <td class="number">{{ rel_count }}</td>
        </tr>
        {% endif %}
    {% endfor %}

{% for part_of_speech, l_word_freq in l_l_part_of_speech_freqs %}

    <table class="inline">
        <tr>
            <th colspan="3">{{ part_of_speech }} Häufigkeiten</th>
        </tr>

        {% for rel_freq, abs_freq, word, further_search_link_UNUSED in l_word_freq %}
            {% if forloop.counter0 < 3 %}
            <tr>
                <td>{{ word|safe }}</td>
                <td class="number">{{ rel_freq }}</td>
                <td class="number">{{ abs_freq }}</td>
            </tr>
            {% else %}
            <tr class="hideable">
                <td>{{ word|safe }}</td>
                <td class="number">{{ rel_freq }}</td>
                <td class="number">{{ abs_freq }}</td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endfor %}

<ul class="a">
{% for speaker, l_stmt_blocks in l_speakers_block_nos_stmts %}
        <h3><a href="{{ speaker.link_decorator }}">{{ speaker.name }}</a></h3>

        <ul class="b">

            {% for stmt_block in l_stmt_blocks %}
                <h3 class="stmt_block_title"><a href="{{ stmt_block.0.document.url }}">{{ stmt_block.0.document }}</a></h3>
                {% for stmt in stmt_block %}
                    <li>S.{{ stmt.page }}: {{ stmt.text | safe }}</li><br>
                {% endfor %}
            {% endfor %}

        </ul>
{% endfor %}
</ul>

{% endblock %}