{% extends "basics/base.html" %}

{% block content %}

{{ form|safe }}

<table align="center">
    <tr>
        <th class="table_title" colspan="2">Statistik</th>
    </tr>
    <tr>
        <td>Anzahl an Statements</td>
        <td class="number">{{ number_of_statements }}</td>
    </tr>
    <tr>
        <td>Anzahl an Aussageblöcken</td>
        <td class="number">{{ number_of_statement_blocks }}</td>
    </tr>
    <tr>
        <td>Aktiver Zeitraum</td>
        <td class="number">{{ first_date }} - {{ last_date }}</td>
    </tr>
    <tr>
        <td>Aktive Sitzungen</td>
        <td class="number">{{ number_of_active_dates }}</td>
    </tr>
</table>


{% regroup statements by group_number as stmts_list %}

<ul class="a">
{% for stmts in stmts_list %}
    <h3>{{ stmts.grouper }}. Aussagenblock</h3>
    <ul class="b">
        {% for stmt in stmts.list %}
          <li><a href="{{ stmt.document.url }}">{{ stmt.document }}</a> – S.{{ stmt.page }}: {{ stmt.text }}</li><br>
        {% endfor %}
    </ul>
    {% endfor %}
</ul>

{% endblock %}